*{
    margin: 0;
    padding: 0;
}
.img-miniatura{
    width: 256px;
    height: 192px;
    background-color: #0b2e13;
}

/* SECCION DE CONTACTO */
.lineaContacto{
    background-color: #fafafa;
    height: 400px;
}
.cuadroMapa{
    max-width: 330px;
}
.name{
    margin-right: 15px;
    margin-left: 15px;
}
.email{}
.phone{
    margin-right: 15px;
    margin-left: 15px;
}
.country{}
.message{
    margin-left: 15px;
}
.pleaseComplete{
    font-size: xx-small;
}
footer{
    background-color: #141939;
    color: white;
    margin-top: 25px;
    position: absolute;
    bottom: revert;

}
.horario{
    font-size: xx-small;
}
.seccionFooter{
    margin: auto;
    margin-top: 20px;
}
.margenAyuda{
    margin-left: 15px;
}
.barraFooter{
    border-top: 1px solid black;
}
.derechosReservados{
    margin-top: 5px;
    margin-bottom: 20px;
}
.enviarMensaje{
    background-color: #FEF200;
    margin-top: -4vh;
    margin-left: 50%;
    font-size: 1.3vw;
    color: black;
    border-radius: 0;
}
.raya{
    background-color: cornflowerblue;
    height: 0.1vh;
    margin-left: 15px;
    width: 25px;
}
