<footer class="container-fluid ">
    <div class="row seccionFooter">
        <div class="d-sm-none d-md-block col-lg-1"></div>
        <div class="col-md-4 col-sm-6">
            <h3>¿Necesitas ayuda?</h3><br>
            <a class="margenAyuda">0234 123 4567</a><br>
            <a class="margenAyuda">enquiry@geekshubstravels.com</a><br>
            <a class="horario">Lun-Vie: 9.30-19.00 Sab: 10.00-14.00</a>
        </div>
        <div class="col-md-3 col-sm-6 desktop-only">
            <h3>Informacion</h3><br>
            <a>Quienes somos</a><br>
            <a>Preguntas frecuentes</a><br>
            <a>Política de proactividad</a><br>
            <a>Condiciones generales</a><br>
            <a>Aviso legal</a><br>
            <a>Contacto</a><br>
            <a>Programa de puntos</a>
        </div>
        <div class="col-md-4 col-sm-6">
            <h3>Suscríbete a la newsletter</h3><br>
            <input type="text" placeholder="Correo electrónico"><br><br>
            <button type="button" class="btn btn-warning">SUSCRIBETE</button>
        </div>
    </div>
    <section class="content-desktop">
        <div class="row w-100 hide-section">
            <hr class="w-100 barraFooter">
        </div>
        <div class="row w-100 derechosReservados">
            <div class="col-sm-12 text-center">
                <a>GeeksHubs Travels 2018 todos los derechos reservados.</a>
            </div>
        </div>
    </section>
    <!-- Social -->

    <section class="content-mobile">
        <div class="col-6 social-footer content-mobile">
            <div class="row sprite-social h-100 align-items-center justify-content-center">
                <div class="iconos-social iconoTwitter"></div>
                <div class="iconos-social iconoWhatsapp"></div>
                <div class="iconos-social iconoFacebook"></div>
                <div class="iconos-social iconoInstagram"></div>
                <div class="iconos-social iconoLinkedin"></div>
                <div class="iconos-social iconoYoutube"></div>
            </div>
        </div>
    </section>

</footer>