<header class="container-fluid">
    <nav class="nav-menu">
        <!-- NAVEGACIÓN -->
        <div class="row background-menu fixed-top">
            <!-- Logo -->
            <div class="col-4">
                <div class="row background-logo">
                    <div class="col-sm-6 offset-3 logo"></div>
                </div>
            </div>
            <!-- Links -->
            <div class="col-5" id="contenedor_hamburguesa">
                <!-- Anclas -->
                <nav id="nav_hamburguesa"
                     class="navbar navbar-expand-xl navbar-dark h-100 justify-content-sm-end justify-content-md-center">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon justify-content-center"></span>
                    </button>
                    <div class="desplegable justify-content-xl-around align-items-sm-end collapse navbar-collapse navbar-nav mr-auto"
                         id="navbarSupportedContent">
                        <div class="row fondoDropdown w-100">
                            <a class="col-xl-3 nav-item text-center" href="#destinos"><em>Destinos</em></a>
                            <a class="col-xl-4 nav-item text-center" href="#quienes-somos"><em>Quienes
                                somos</em></a>
                            <a class="col-xl-3 nav-item text-center"
                               href="#cuadroMapa"><em>Contacto</em></a>
                            <div class="col-xl-2">
                                <div class="row flex-column opcionesUser">
                                    <a class="col-12" href="/login"><em>Login</em></a>
                                    <a class="col-12" href="/registro"><em>Registro</em></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
            <!-- Social -->
            <div class="col-2 content-desktop p-0">
                <div class="row sprite-social h-100 align-items-center justify-content-center">
                    <div class="iconos-social" id="iconoTwitter"></div>
                    <div class="iconos-social" id="iconoWhatsapp"></div>
                    <div class="iconos-social" id="iconoFacebook"></div>
                    <div class="iconos-social" id="iconoInstagram"></div>
                    <div class="iconos-social" id="iconoLinkedin"></div>
                    <div class="iconos-social" id="iconoYoutube"></div>
                </div>
            </div>
        </div>
    </nav>
</header>