<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agencia de viajes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
</head>
<body class="p-0">
<div class="container-fluid p-0 m-0">
    <!-- ENCABEZADO -->
    {{> navegacion}}

    <div id="errorBG">
        <div id="error404">
            <h1>404</h1>
            <p>Parece que te perdiste</p>
            <a href="/">Vuelve</a>
        </div>
    </div>

    <!-- FOOTER -->
    {{> footer}}
</div>

<!-- Librerias: Bootstrap & Jquery -->
<script src="vendors/jquery/dist/jquery.min.js"></script>
<script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="javascripts/main.min.js/main.js"></script>
</body>
</html>