<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agencia de viajes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/registro.css">

</head>
<body class="p-0">
<div class="container-fluid p-0 m-0">
    <!-- ENCABEZADO -->
    {{> navegacionLogin}}

    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>REGISTRO</h3>
                    <a href="/login">¿Ya estas registrado?</a>
                    {{#if errorPasswDistintos}}
                        <div class="alert-danger">{{errorPasswDistintos}}</div>
                    {{/if}}
                </div>
                <div class="card-body">
                    <form action="" method="post">
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="usuario" class="form-control" placeholder="Usuario">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input id="regInputPassw" name="regInputPassw" type="password" class="form-control" placeholder="Contraseña">
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="regInputPasswAgn" name="regInputPasswAgn" type="password" class="form-control" placeholder="Repetir contraseña">
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Acepto los términos y condiciones, así como la política de privacidad
                        </div>
                        <div class="form-group">
                            <input id="regEnviar" type="submit" value="Enviar" class="btn float-right login_btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- FOOTER -->
    {{> footer}}
</div>

<!-- Librerias: Bootstrap & Jquery -->
    {{> librerias}}


</body>
</html>