<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agencia de viajes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/registro.css">

</head>
<body class="p-0">
<div class="container-fluid p-0 m-0">
    <!-- ENCABEZADO -->
    {{> navegacionLogin}}

    {{> cuerpoRegister}}

    <!-- FOOTER -->
    {{> footer}}
</div>

<!-- Librerias: Bootstrap & Jquery -->
    {{> librerias}}


</body>
</html>